.header {
    margin: 0 auto 0;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    background: none;
}

.header__logo {
    margin: 18px 20px 18px 70px;
    max-width: 38px;
    max-height: 38px;
    transition: .3s;
}

.header__logo:hover {
    opacity: 0.8;
  }

@media screen and (max-width: 780px) {
    .header__logo {
        margin: 18px 20px 18px 31px;
    }
}

@media screen and (max-width: 570px) {
    .header__logo {
        margin: 18px 14px 18px;
    }
}